// Site variables //////////////////////////////////////////////////////////////////////////
// $font-family-sans-serif:
//   // Safari for OS X and iOS (San Francisco)
//   -apple-system,
//   // Chrome >= 56 for OS X (San Francisco), Windows, Linux and Android
//   system-ui,
//   // Chrome < 56 for OS X (San Francisco)
//   BlinkMacSystemFont,
//   // Windows
//   "Segoe UI",
//   // Android
//   "Roboto",
//   // Basic web fallback
//   "Helvetica Neue", Arial, sans-serif !default;
// $font-family-sans-serif: 'Lato', sans-serif;


$font-family-sans-serif: 'Open Sans', sans-serif;
$body-background: #fff;
$body-font-size: 16px;
// $heading-font-stack: 'Roboto', sans-serif;
$heading-font-stack: 'Montserrat', sans-serif;
$page-top-margin: 0px;
$text-light: #eee;
$text-dark: #444;
$accent-color: #1b2352;
$hover-color: #aaa;
$accent-dark: #000;
$link-font-weight: 700;




// Site styles //////////////////////////////////////////////////////////////////////////
body {
    background: $body-background;
    font-family: $font-family-sans-serif;
    font-size: $body-font-size;
    color: $text-dark;
}
.page {
    margin-top: 1px; margin-bottom: 75px;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: $heading-font-stack;
    font-weight: 900;
}
a {
    color: $accent-color;
    font-weight: $link-font-weight
}
a:hover {
    color: $hover-color
}
.light {
    color: #fff
}
.dark {
    color: #333
}
.upper {
    text-transform: uppercase
}
.hrule {
    border-bottom: 1px solid #999;
    padding-bottom: 10px
}
.hrule.light {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px
}
.gutter-rule-dark {
    border-left: 1px solid #ccc
}
.section-heading {
    margin-bottom: 50px
}
button:focus {
    outline: 0;
}
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #ccc !important;
    -moz-box-shadow: 0 8px 6px -6px #ccc !important;
    box-shadow: 0 8px 6px -6px #ccc !important;
}
.text-section {
    padding-top: 50px;
    padding-bottom: 50px
}
.text-section-spacer {
    margin-top: 60px
}
.section-header {
    font-size: 30px;
    border: none;
    margin-top: 0;
    margin-bottom: 30px;
}
.section-header:after {
    content: "";
    background: $accent-dark;
    position: absolute;
    height: 1px;
    width: 250px;
    margin-left: -130px;
}
.section-header.text-left:after {
    margin-left: 0;
}
.section-header.text-right:after {
    // margin-left: -50px;
}
.section-header h2 {
    margin-bottom: 15px;
}
.section-header.wsub {
    margin-bottom: 10px;
}
.section-header.wsub h2 {
    margin-bottom: 17px;
}

.title-desc {
    text-align: center;
    width: 60%;
    margin: 45px auto 30px auto;
    color: #aaa;
    font-weight: 300;
}



.bg-about-icjia {background-color: #141414}

.navbar-brand {margin-left: 80px;}

.hero-heading {background: #152c61; color: #fff;}
.fp-splash {padding-top: 30px; padding-bottom: 30px;}
.section-title {
    border-bottom: solid 1px #ccc;
    padding-bottom: 25px;
    padding-top: 25px;

    margin-bottom: 30px;
}

.spacerTop50 {margin-top: 50px}
.spacerTop40 {margin-top: 40px}
.spacerTop30 {margin-top: 30px}
.spacerBottom50 {margin-bottom: 50px}
.spacerBottom40 {margin-bottom: 40px}
.spacerBottom30 {margin-bottom: 30px}

.page-head {
    font-weight: 900;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.read-more {text-transform: uppercase; font-weight: 700}
.btn-readmore {font-weight: 700; font-size: 12px !important;}

// Navbar breakpoints //////////////////////////////////////////////////////

@include media-breakpoint-down(md) {



}
@include media-breakpoint-down(sm) {
    .hamburger {
        display: none;
    }



}


.youtube {
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: all 200ms ease-out;
    cursor: pointer;
}

.youtube .play {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAERklEQVR4nOWbTWhcVRTHb1IJVoxGtNCNdal2JYJReC6GWuO83PM/59yUS3FRFARdFlwYP1CfiojQWt36sRCUurRIdVFXIn41lAoVdRGrG1M01YpKrWjiYmaSl8ybZJL3cd+YA//NLObd3++eO8x79z5jSq5Gw+8kov0AP8vMR5l1BtBZQM4B8ks75wCdZdYZZj5qLZ4hov2Nht9Z9vhKKSIaB/gI4M4w62KeAO6Mte4lYOq20FxrlqqOibhHmeWbvNC9ZfDX1mLae391aN6limO/gwgvAPJbWeAZuSDingdwXTBw7/0IsyaA/Fkh+KqOkD+YNfHej1QKD+y7iVlOhgLvFqFfNJvNGyuBJ+KDAF8MDd0tgS8y64OlgSdJMsysL4cG7SOHkyQZLhTee7+d2R2rAVy/S+Jd7/32ouBHAP4gNNRGQyTHc/84NhqNywZp5rvjjnnvt21aABFeCQ+RLwAf2hQ8s7sv9OCLk6AHNgQvIrvbfzKCD76g/O6cu7lf/iER/aQGgy448pExZmhdegAPhR9sObFWH1gT3lp7DaA/5bkIgJhZPgsNmz02novj+KqeApj1ubwXWe4kdyeznAgNvTpE/HQmvKqOMeuFogTUVQSRno+iaLRLAJF7uIgL9O4ubgL8aWgB7S44mNX+35YpICUiAvS9sBLkq1WzT+NFffl6AuoiApi6NT37h6sWkBIRZGkQ8YtLgyji6e1mBYTqCEBPG2Naz+0BWQgtoGoRgCzEsd9hAN1X5BfnFZASUfrSAFQNsyZ1FJASUVpHiLinDJG8U2cBZYogkrcNs5waBAGdstbeU9zdqpw0gPwwSAI6VUxHyFlDpOcHUUBBIuYNs14aZAE5RVwyzPr3/0EAEY0TyfGNjBWQvwZ +CTSbehfAH29mrID8bET0+0EUkAd8WYDOmqJ3ecsG30yr9wqRfm6Y+a1BEFDEjHfHvWmY9ck6CygHvBVr8Xhtb4ZE5HZA3y8DvBNA1TjnrmXWf+sioMwZX5V/VHXMGGMMoKdDCxCRvRWBdzKzdHEO+EisilbPyopHYqp6S9UCAsz4iojI7hUDAtyXVQgIDd6KnOoaWNkbI6FaPSuZGyMArsi7MZoloB4zviI/Nhr3X95jltwTRQmoIfgisy5ai+me67OI7fE4nrqjrqfK1t0eby0FPRB6oGVlchL3rgnfrq19RKbVBdhV9IOSwJmfmJi4vi/4ThERitwyCxVAFqydshuCX5awhQ9KtmuIWd8IDZED/nXT77rvVVv6sHRKwjYi91poqP7Dr+Y6JJ1VSZIMA3wkPNy6bX+o8Bcm0sXMdwM8Fxo0A3xORPaWBp6uPXsmbxCRD0NDL0dOANhVCXy6iAjMcjbcrMt3RITKwdMVRdFo+y5yvkL4eWZ+zHt/ZVD4dEVRNGotpst+dZZZH8k86lqn2pIvT/eqrNfn2xuyqYPZ8mv7s8pfn/8Pybm4TIjanscAAAAASUVORK5CYII=") no-repeat center center;
    background-size: 64px 64px;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: .8;
    filter: alpha(opacity=80);
    transition: all 0.2s ease-out;
}

.youtube .play:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}



/* Grant Opportunity and News styles
-------------------------------------------------- */
.btn-grant, .btn-news {font-weight: 900; text-transform: uppercase; font-size: 12px; margin-top: 10px;
  margin-bottom: 10px}
.grant-main-head, .news-main-head {margin-bottom: 30px}
.grant-section-spacer-top, .news-section-spacer-top {margin-top: 100px}
.grant-section-head, .news-section-head {margin-top: 70px; text-transform: uppercase; border-bottom: 1px solid #ccc; padding-bottom: 10px; margin-bottom: 20px}
.grant-section-head.first, .news-section-head.first {margin-top: 0px}
.grant-section-context, .news-section-context {margin-left: 15px;}


/* Document styles
-------------------------------------------------- */
.document-header {font-weight: 900; margin-top: 30px; margin-bottom: 10px;}
.document-header.first {margin-top: 0}
.document-text {margin-bottom: 15px;}
